* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-animation="showElement"] {
    transform: translateY(50px);
    opacity: 0;
}

[data-animation="showElement"].animated {
    animation: showing .2s linear forwards;
}

@keyframes showing {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
    background-color: #eae7de;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #c79e3ccc; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #c79e3c; 
}

body.overlayeractive {
    position: relative;
    overflow: hidden;
}

body.overlayeractive .overlayer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: #0007;
    z-index: 1;
    transition: height 0.5s;
}

body.overlayeractive .gallery-section .gallery-image-area .arrowbtn {
    z-index: 0;
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
}

.y-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    background: #fff;
    border-bottom: 1px solid #c79e3c;
    z-index: 1;
}

.y-header .menu-btn {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    order: 1;
    flex-grow: 1;
}

.y-header .menu-btn i {
    font-size: 20px;
}

.y-header .logo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    flex-grow: 1;
}

.y-header .logo a {
    z-index: 1;
}

.y-header .logo a img {
    height: auto;
    max-height: 35px;
}

.y-header .intouch {
    position: relative;
    order: 3;
    display: flex;
    align-items: center;
}


.y-header .intouch li {
    margin-inline: 5px;
}

.y-header .intouch li a i {
    max-height: 35px;
    height: auto;
}

.x-header {
    position: fixed;
    height: 100%;
    width: 250px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #c79e3c;
    z-index: 1;
    padding: 20px;
    background: #fff;
    box-shadow: rgb(0 0 0 / 35%) 2px 1px 12px 2px;
}

.x-header .logo {
    position: relative;
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.x-header .logo img {
    width: 100%;
}

.x-header .navbar {
    position: relative;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 5px;
}

.x-header .navbar li {
    position: relative;
    padding-block: 8px;
    padding-inline: 15px;
    border-radius: 15px;
    font-size: 18px;
    border: 1px solid #0000;
    cursor: pointer;
    margin-block: 1px;
}

.x-header .navbar li.active {
    color: #c79e3c;
    border: 1px solid#c79e3c;
}

.x-header .navbar li:hover {
    color: #c79e3c;
    border: 1px solid #c79e3c;
}

.x-header .intouch {
    position: relative;
    border: 1px rgba(0, 0, 0, 0.2);
    border-style: solid none none none;
    height: 10%;
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5%;
}

.x-header .intouch li {
    position: relative;
    background: #c79e3c;
    padding: 8px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.upperheader {
    position: fixed;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background: #181818;
    color: #fff;
    z-index: 10;
    transition: height 0.5s linear;
}

.upperheader .closeing-area {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-block: 15px;
    background: transparent;
}

.upperheader .closeing-area .closeing-btn {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin-inline: 0px 15px;
    cursor: pointer;
}

.upperheader .closeing-area .closeing-btn:hover {
    opacity: 0.7;
}

.upperheader .global-address {
    position: relative;
    height: 50%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upperheader .global-address ul {
    flex-direction: column;
}

.upperheader .global-address ul.list-inline {
    flex-direction: row;
    width: max-content;
}

.upperheader .global-address ul,
.upperheader .global-address ul li {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upperheader .global-address ul li {
    margin-block: 5px;
}

.upperheader .global-address ul li a {
    position: relative;
    width: max-content;
    display: flex;
    justify-content: center;
    transition: border-color 300ms ease, color 300ms ease;
}

.upperheader .global-address ul li a.main-address {
    font-size: 50px;
}

.upperheader .global-address ul li a.address-floor {
    font-size: 25px;
}

.upperheader .global-address ul li a:hover {
    color: #c79e3c;
}

.upperheader .global-address ul.list-inline li {
    position: relative;
    margin-inline: 20px;
}

.upperheader .global-address ul.list-inline li a {
    position: relative;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: border-color 300ms ease, color 300ms ease;
}

.upperheader .global-address ul.list-inline li a:hover {
    border: 2px solid #c79e3c;
}

.upperheader .global-contact {
    position: relative;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.upperheader .global-contact .heading {
    position: relative;
    margin-bottom: 20px;
}

.upperheader .global-contact .heading h4 {
    font-size: 1.563em;
    font-weight: 400;
    margin-bottom: 10px;
}

.upperheader .global-contact .heading span a:hover {
    text-decoration-line: underline;
}

.upperheader .global-contact form,
.upperheader .global-contact form ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.upperheader .global-contact form ul li {
    position: relative;
    height: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-block-end: 15px;
}

.upperheader .global-contact form ul li:first-child {
    width: 45%;
    margin-inline-end: 5%;
}

.upperheader .global-contact form ul li:last-child {
    width: 100%;
    height: 100%;
}

.upperheader .global-contact form ul li label {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    margin-block-end: 8px;
}

.upperheader .global-contact form ul li input {
    height: 50px;
}

.upperheader .global-contact form ul li input,
.upperheader .global-contact form ul li textarea {
    position: relative;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    padding: 0.75rem 1.10rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color 300ms ease, box-shadow 300ms ease;
}

.upperheader .global-contact form ul li input:focus,
.upperheader .global-contact form ul li textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border: 1px solid #c79e3c;
}

.upperheader .global-contact form ul li textarea {
    height: auto;
    resize: none;
}

.upperheader .global-contact form button {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto";
    padding: 0.75rem 1.10rem;
    border-radius: 15px;
    border: none;
    background: #c79e3c;
    cursor: pointer;
    transition: opacity 300ms ease
}

.upperheader .global-contact form button:hover {
    opacity: 0.9;
}

.mobile-navbar {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    left: -80%;
    background: #c79e3c;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: left 300ms linear;
}

.mobile-navbar .closebtn {
    position: relative;
    height: 15%;
    width: 100%;
    font-size: 36px;
    padding: 15px;
    display: flex;
    justify-content: end;
    color: #fff;
}

.mobile-navbar .contant {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mobile-navbar .contant ul {
    position: relative;
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.mobile-navbar .contant ul li {
    position: relative;
    min-width: max-content;
    width: 100%;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.mobile-navbar .contant ul li a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.mobile-navbar .contant ul li.active a {
    font-weight: 500;
}

.mobile-navbar .contant .intouch {
    position: relative;
    height: 20%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    padding-block-start: 30px;
}

.mobile-navbar .contant .intouch li {
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #c79e3c;
    cursor: pointer;
}

.mobile-navbar .contant .intouch li#global-address-btn {
    padding-inline-end: 2px;
}



.gallery-section {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    padding-block: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-section h1 {
    position: relative;
    font-size: clamp(1.8rem, calc(2vw + 1rem), 5rem);
    font-weight: 400;
}

.gallery-section hr {
    position: relative;
    width: 50px;
    height: 3px;
    background: #c79e3c;
    border: none;
    margin-block-end: 10px;
}

.gallery-section .btn-container {
    position: relative;
    display: block;
    margin-block-end: 3%;
}

.gallery-section .btn-container button {
    position: relative;
    padding: 6px 18px;
    font-weight: 700;
    font-size: 12px;
    color: #c79e3c;
    border: 1px solid #c79e3c;
    background: transparent;
    cursor: pointer;
}

.gallery-section .btn-container button.active {
    color: #000;
    background: #c79e3c;
}

.gallery-section .btn-container button:hover {
    color: #000;
    background: #c79e3c;
}

.gallery-section .gallery-image-area {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.gallery-section .gallery-image-area .image-box {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.gallery-section .gallery-image-area .image-box.inactiveimages {
    animation: inactiveimages 0.3s linear forwards;
}

.gallery-section .gallery-image-area .image-box.activeimages {
    animation: activeimages 0.3s linear forwards;
}

@keyframes inactiveimages {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
        display: none;
    }
}

@keyframes activeimages {

    0% {
        transform: scale(0.1);
        opacity: 0;
        display: flex;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.gallery-section .gallery-image-area .image-box::-webkit-scrollbar {
    display: none;
}

.gallery-section .gallery-image-area .image-box.none-effect {
    scroll-behavior: auto;
}

.gallery-section .gallery-image-area .image-box.dragging li,
.gallery-section .gallery-image-area .image-box.dragging li img {
    cursor: grab;
    user-select: none;
}

.gallery-section .gallery-image-area .image-box li {
    position: relative;
    height: 600px;
    width: auto;
    scroll-snap-align: start;
}

.gallery-section .gallery-image-area .image-box li img {
    position: relative;
    height: 100%;
    width: auto;
    left: -150px;
}

.gallery-section .gallery-image-area .image-box.image-slider-two li img {
    left: -250px;
}

.gallery-section .gallery-image-area .arrowbtn {
    position: absolute;
    font-size: 30px;
    height: 35px;
    width: 35px;
    background: #ffffffb0;
    color: #000000b0;
    text-align: center;
    padding-top: 2.5px;
    border-radius: 50%;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.gallery-section .gallery-image-area .arrowbtn#left {
    left: 5px;
}

.gallery-section .gallery-image-area .arrowbtn#right {
    right: 5px;
}


.footer {
    position: relative;
    height: clamp(18vh, 18vh, 18vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #c79e3c;
}

.footer ul {
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer ul li {
    position: relative;
    font-size: 12px;
    margin-inline: 8px;
}

.footer .copyright {
    font-size: 14px;
    position: relative;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.action-btn .chat-btn {
    position: relative;
    order: 2;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #c79e3c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.2s;
    z-index: 1;
    cursor: pointer;
}

.action-btn .chat-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.action-btn .chat-btn i.fa-xmark {
    font-size: 24px;
}

.action-btn ul {
    position: relative;
    height: 0;
    order: 1;
    opacity: 0;
    transform: height 0.5s, opacity 0.5s;
}

.action-btn ul.visible {
    height: 100px;
    opacity: 1;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.action-btn ul li {
    position: relative;
    height: 40px;
    width: 40px;
    margin-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10%;
    background: #ec5923;
}

.action-btn ul li:nth-child(2) {
    background: #4dc247;
}

.action-btn ul li a {
    position: relative;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn ul li:nth-child(2) a {
    padding-inline-start: 3%;
}

.action-btn ul li a svg {
    position: relative;
    height: 100%;
    fill: #fff;
}

@media screen and (max-width:800px) {
    body {
        padding: 60px 0 0 0;
    }

    .y-header {
        display: flex;
    }

    .x-header {
        display: none;
    }
}

@media screen and (max-width:768px) {

    /* upperheader */
    .upperheader .global-address {
        justify-content: center;
        align-items: center;
    }

    .upperheader .closeing-area {
        justify-content: start;
    }

    .upperheader .closeing-area .closeing-btn {
        margin-inline: 15px 0px;
    }

    .upperheader .global-address ul li a.main-address {
        font-size: 25px;
        text-align: center;
    }

    .upperheader .global-contact {
        width: 70%;
        height: 100%;
        margin-block-start: 85px;
        justify-content: center;
    }

    .gallery-section .btn-container button {
        border-radius: 3px;
    }

    .gallery-section {
        padding-block: 50px 30px;
    }

    .gallery-section .gallery-image-area {
        height: 300px;
        margin-block: 6vh 10vh;
    }

    .gallery-section .gallery-image-area .image-box li {
        height: 300px;
    }

    .gallery-section .gallery-image-area .image-box li img {
        left: 70px;
    }
}

@media screen and (max-width:660px) {

    /* upperheader */
    .upperheader .global-contact form ul {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .upperheader .global-contact form ul li,
    .upperheader .global-contact form ul li:first-child,
    .upperheader .global-contact form ul li:last-child {
        width: 100%;
        margin-inline-end: 0;
    }
}

@media screen and (max-width:400px) {

    /* upperheader */
    .upperheader .global-address ul.list-inline {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .upperheader .global-address ul.list-inline li {
        display: flex;
        align-items: center;
        margin-inline: 2px;
    }

    .upperheader .global-contact {
        width: 95%;
    }
}